BE_PORT=
FRONTEND_DOMAIN=https://social-media-fe-one.vercel.app

# MYSQL
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_TCP_PORT=
MYSQL_HOST=

# REDIS
REDIS_HOST=
REDIS_PORT=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION_MS=
JWT_REFRESH_EXPIRATION_MS=
AUTH_REFRESH_SECRET=

# Email Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# DigitalOcean Spaces Configuration
SPACES_ENDPOINT=
SPACES_KEY=
SPACES_SECRET=
SPACES_REGION=
SPACES_BUCKET=
SPACES_CUSTOM_DOMAIN=
SPACES_USE_DIRECT_URL=